#button {
  background: url("../images/hamburger-menu-icon.svg") center no-repeat;
  float: right;
  margin-top: -40px;
  margin-right: 20px;
  border: 0;
  width: 35px;
  height: 35px;
  transition: all 400ms ease; }

#button.expanded {
  /* browser prefixes for transform */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  margin-left: auto;
  /* default transform */
  transform: rotate(90deg); }

#nav-btn {
  margin-top: 10%;
  margin-left: 32%;
  display: block;
  margin-bottom: 20px;
  border-radius: 100rem;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  padding: .4rem 2.5rem;
  color: white;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px white;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px transparent inset; }

#burgerCon {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344);
  margin-bottom: 20px;
  position: fixed;
  top: 60px;
  width: 100%;
  box-shadow: 10px 5px 5px grey;
  /* this should be off by default and  */
  display: none; }

.show-mobile-nav {
  display: block !important; }

#burgerCon li {
  padding: 20px;
  border-top: thin 1px black;
  text-align: left; }

#burgerMenu {
  margin-top: 50px; }

#burgerCon a {
  text-decoration: none;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #A888C2; }

.close {
  float: right;
  right: 20px;
  color: #A888C2;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  position: absolute;
  top: 20px; }

.close h1 {
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 35px;
  font-weight: bold; }

.iconNav {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10%; }

.iconNav a {
  width: 45px;
  height: 30px; }

.iconNav img {
  margin-left: 15px;
  margin-right: 15px;
  width: 80%; }

@media screen and (min-width: 767px) {
  #button {
    background: url("../images/hamburger-menu-icon.svg") center no-repeat;
    float: right;
    margin-top: -70px;
    margin-right: 20px;
    border: 0;
    width: 70px;
    height: 70px;
    transition: all 400ms ease; }

  #button.expanded {
    /* browser prefixes for transform */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    margin-left: auto;
    /* default transform */
    transform: rotate(90deg); }

  #nav-btn {
    margin-top: 10%;
    margin-left: 32%;
    display: block;
    margin-bottom: 20px;
    border-radius: 100rem;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    padding: .6rem 4.5rem;
    color: white;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px white;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px transparent inset; }

  #burgerCon {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344);
    margin-bottom: 20px;
    position: fixed;
    top: 60px;
    width: 100%;
    box-shadow: 10px 5px 5px grey;
    /* this should be off by default and  */
    display: none; }

  .show-mobile-nav {
    display: block !important; }

  #burgerCon li {
    padding: 20px;
    border-top: thin 1px black;
    text-align: left; }

  #burgerMenu {
    margin-top: 50px; }

  #burgerCon a {
    text-decoration: none;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: #A888C2; }

  .close {
    float: right;
    right: 20px;
    color: #A888C2;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    position: absolute;
    top: 20px; }

  .close h1 {
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 35px;
    font-weight: bold; }

  .iconNav {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10%; }

  .iconNav a {
    width: 70px;
    height: 50px; }

  .iconNav img {
    margin-left: 15px;
    margin-right: 15px;
    width: 90%; } }
@media screen and (min-width: 1024px) {
  #mainHeader {
    display: flex;
    flex-direction: row; }

  #mainNav {
    width: 100%;
    display: flex;
    display: inline-block;
    flex-direction: row; }

  #button {
    display: none; }

  #nav-btn {
    display: none; }

  #burgerCon {
    margin-left: 330px;
    text-align: right;
    background-image: none;
    top: 0;
    width: 65%;
    box-shadow: none;
    justify-content: flex-end;
    position: relative;
    display: flex;
    flex-direction: row; }

  #burgerCon li {
    margin-left: 15px;
    padding: 5;
    display: inline-block;
    border-top: thin 1px black;
    text-align: right; }

  #burgerMenu {
    margin-top: 50px;
    width: 70%; }

  #burgerMenu a:hover {
    border-bottom: solid 1px white; }

  #burgerCon a {
    text-decoration: none;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    color: white; }

  .close {
    display: none; }

  .iconNav {
    margin: 0;
    margin-right: 70px;
    width: 20%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0; }

  .iconNav a {
    width: 70px;
    height: 50px; }

  .iconNav img {
    margin-left: 15px;
    margin-right: 15px;
    width: 70%; } }
#logo {
  padding-top: 20px;
  width: 30%; }

.hero-head {
  margin-top: 40px;
  display: flex;
  flex-direction: column; }

.hero-head h1 {
  width: 40%;
  float: left;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: white;
  background-color: #CE0037; }

.buttons {
  margin-top: 5%;
  justify-content: center; }

.border-btn {
  margin-left: 32%;
  display: block;
  margin-bottom: 20px;
  border-radius: 100rem;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding: .4rem 2.5rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset; }

.full-btn {
  margin-left: 32%;
  display: block;
  border-radius: 100rem;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding: .4rem 2.7rem;
  color: white;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344); }

.bot-btn {
  margin-left: 32%;
  display: block;
  border-radius: 100rem;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding: .4rem 2.7rem;
  color: white;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344); }

@media screen and (min-width: 767px) {
  .hero-head {
    margin-top: 40px;
    display: flex;
    flex-direction: column; }

  .hero-head h1 {
    width: 40%;
    float: left;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    color: white;
    background-color: #CE0037; }

  .buttons {
    margin-top: 10%;
    justify-content: center; }

  .border-btn {
    margin-left: 30%;
    display: block;
    margin-bottom: 20px;
    border-radius: 100rem;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    padding: .7rem 4.5rem;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset; }

  .full-btn {
    margin-left: 30%;
    display: block;
    border-radius: 100rem;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    padding: .7rem 5.5rem;
    color: white;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344); }

  .bot-btn {
    margin-left: 30%;
    display: block;
    border-radius: 100rem;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    padding: .7rem 5.5rem;
    color: white;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344); } }
@media screen and (min-width: 1024px) {
  .hero-head {
    margin-top: 170px;
    display: flex;
    flex-direction: column; }

  .hero-head h1 {
    width: 40%;
    float: left;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    color: white;
    background-color: #CE0037; }

  .buttons {
    margin-top: 10%;
    justify-content: center;
    display: none; }

  .border-btn {
    margin-left: 30%;
    display: block;
    margin-bottom: 20px;
    border-radius: 100rem;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    padding: .7rem 4.5rem;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset; }

  .full-btn {
    margin-left: 30%;
    display: block;
    border-radius: 100rem;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    padding: .7rem 5.5rem;
    color: white;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344); }

  .bot-btn {
    margin-top: 150px;
    margin-left: 38%;
    display: block;
    border-radius: 100rem;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    padding: .7rem 5.5rem;
    color: white;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #5772b0, #623d8b, #431344); } }
.siteContainerH {
  background-image: url("../images/mobile-tablet-home-bcg.svg");
  background-repeat: no-repeat;
  background-size: cover; }

.image1 {
  margin-top: 20%;
  width: 100%;
  height: 40%;
  background-color: grey; }

.tab-head {
  display: none; }

.tab-head1 {
  display: none; }

.sub-head {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column; }

.sub-head h1 {
  text-align: center;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #CE0037; }

.sub-head span {
  color: white;
  background-color: #CE0037; }

.sub-head p {
  text-align: center;
  font-family: oswald,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7C7C7C; }

@media screen and (min-width: 767px) {
  .siteContainerH {
    background-image: url("../images/tablet-home-bcg.svg");
    background-repeat: no-repeat;
    background-size: cover; }

  .image1 {
    margin-top: 15%;
    width: 100%;
    height: 50%;
    background-color: grey; }

  .sub-head {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; }

  .sub-head h1 {
    text-align: center;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7.5rem;
    color: #CE0037; }

  .sub-head span {
    color: white;
    background-color: #CE0037; }

  .sub-head p {
    margin: 40px;
    font-size: 2rem;
    text-align: center;
    font-family: oswald,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7C7C7C; } }
@media screen and (min-width: 1024px) {
  .siteContainerH {
    background-image: url("../images/desktop-home-bcg.svg");
    background-repeat: no-repeat;
    background-size: 100% auto; }

  .image1 {
    display: flex;
    align-self: flex-end;
    margin-right: 70px;
    margin-top: 30px;
    width: 670px;
    height: 500px;
    background-color: grey; }

  .mob-head {
    display: none; }

  .tab-head {
    margin-left: 530px;
    margin-top: 450px;
    margin-bottom: 250px;
    display: flex;
    align-content: flex-end;
    flex-direction: column; }

  .tab-head1 {
    margin-right: 530px;
    margin-top: 150px;
    margin-bottom: 30px;
    display: flex;
    align-content: flex-start;
    flex-direction: column; }

  .sub-head h1 {
    text-align: center;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    color: #CE0037; }

  .sub-head span {
    color: white;
    background-color: #CE0037; }

  .sub-head p {
    margin-left: 330px;
    margin: 40px;
    font-size: 2.5rem;
    text-align: center;
    font-family: oswald,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7C7C7C; } }
.siteContainerA {
  background-image: url("../images/mobile-about-bcg.svg");
  background-repeat: no-repeat;
  background-size: 100% auto; }

.hero-head3 {
  margin-top: 15%;
  margin-bottom: 40%;
  display: flex;
  flex-direction: column; }

.hero-head3 h1 {
  width: 40%;
  float: left;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: white;
  background-color: #9CB72E; }

.image2 {
  margin-top: 20%;
  width: 100%;
  height: 40%;
  background-color: grey; }

#our-team {
  margin-top: 30%;
  margin-bottom: 30%;
  margin-left: 10%;
  width: 80%;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: row; }

#our-team h1 {
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #9CB72E; }

#our-team p {
  font-size: 0.7em;
  font-family: oswald,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7c7c7c; }

.images {
  display: flex;
  flex-direction: row;
  height: 30%; }

.imagea {
  width: 50%;
  height: 100%;
  background-color: grey; }

.imageb {
  width: 50%;
  height: 100%;
  background-color: black; }

@media screen and (min-width: 767px) {
  .siteContainerA {
    background-image: url("../images/tablet-about-bcg.svg");
    background-repeat: no-repeat;
    background-size: cover; }

  .hero-head3 h1 {
    width: 50%;
    float: left;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: white;
    background-color: #9CB72E; }

  .image2 {
    margin-top: 30%;
    width: 100%;
    height: 70%;
    background-color: grey; }

  #our-team {
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: 10%;
    width: 80%;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row; }

  #our-team h1 {
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #9CB72E; }

  #our-team p {
    font-size: 1.7em;
    font-family: oswald,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7c7c7c; }

  .images {
    display: flex;
    flex-direction: row;
    height: 30%; }

  .imagea {
    width: 50%;
    height: 100%;
    background-color: grey; }

  .imageb {
    width: 50%;
    height: 100%;
    background-color: black; } }
@media screen and (min-width: 1024px) {
  .siteContainerA {
    background-image: url("../images/desktop-about-bcg.svg");
    background-repeat: no-repeat;
    background-size: 100% auto; }

  .hero-head3 {
    margin-bottom: 130px;
    margin-top: 170px;
    display: flex;
    flex-direction: column; }

  .hero-head3 h1 {
    width: 40%;
    float: left;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    color: white;
    background-color: #9CB72E; }

  .image2 {
    margin-top: 800px;
    width: 100%;
    height: 900px;
    background-color: grey; }

  #our-team {
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: 10%;
    width: 80%;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row; }

  #our-team h1 {
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    color: #9CB72E; }

  #our-team p {
    font-size: 2.7em;
    font-family: oswald,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7c7c7c; }

  .Team-bio {
    margin-top: 500px; }

  .images {
    display: flex;
    flex-direction: row;
    height: 650px; }

  .imagea {
    width: 50%;
    height: 650px;
    background-color: grey; }

  .imageb {
    width: 50%;
    height: 650px;
    background-color: black; } }
.siteContainerP {
  background-image: url("../images/mobile-portfolio-bcg.svg");
  background-repeat: no-repeat;
  background-size: cover; }

.hero-head2 {
  margin-top: 15%;
  margin-bottom: 40%;
  display: flex;
  flex-direction: column; }

.hero-head2 h1 {
  width: 50%;
  float: left;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: white;
  background-color: #FFD668; }

.border1 {
  margin-top: 100px;
  width: 60px;
  height: 2px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 2px #FFD668; }

.sub-section {
  margin-top: 85%; }

.sub-section p {
  text-align: center;
  font-size: 0.7em;
  font-family: oswald,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7c7c7c; }

.portfolio {
  margin-top: 20%;
  margin-bottom: 10%; }

.m-portfolio {
  display: none; }

.image4 {
  width: 100%;
  height: 30%;
  background-color: grey; }

@media screen and (min-width: 767px) {
  .siteContainerP {
    background-image: url("../images/tablet-portfolio-bcg.svg");
    background-repeat: no-repeat;
    background-size: cover; }

  .hero-head2 {
    margin-top: 20%;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column; }

  .hero-head2 h1 {
    width: 70%;
    float: left;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    color: white;
    background-color: #FFD668; }

  .border1 {
    margin-top: 100px !important;
    width: 120px;
    height: 2px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 6px #FFD668; }

  .sub-section {
    margin-top: 55%; }

  .sub-section p {
    text-align: center;
    font-size: 1.7em;
    font-family: oswald,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7c7c7c; }

  .portfolio {
    margin-top: 20%;
    margin-bottom: 10%; }

  .image4 {
    width: 100%;
    height: 30%;
    background-color: grey; } }
@media screen and (min-width: 1024px) {
  .siteContainerP {
    background-image: url("../images/desktop-portfolio-bcg.svg");
    background-repeat: no-repeat;
    background-size: 100% auto; }

  .hero-head2 {
    margin-top: 170px;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column; }

  .hero-head2 h1 {
    width: 70%;
    float: left;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    color: white;
    background-color: #FFD668; }

  .border1 {
    margin-top: 100px !important;
    width: 120px;
    height: 2px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 6px #FFD668; }

  .sub-section {
    margin-top: 55%; }

  .sub-section p {
    text-align: center;
    font-size: 1.7em;
    font-family: oswald,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7c7c7c; }

  .portfolio {
    display: none;
    margin-top: 20%;
    margin-bottom: 10%; }

  .image4 {
    width: 100%;
    height: 500px;
    background-color: grey; }

  .m-portfolio {
    margin-top: 300px;
    display: block; }

  .images1 {
    display: flex;
    flex-direction: row;
    height: 500px; }

  .imagec {
    width: 50%;
    height: 500px;
    background-color: grey; }

  .imaged {
    width: 50%;
    height: 500px;
    background-color: black; } }
.siteContainerC {
  background: url("../images/mobile-contact-bcg.svg");
  background-repeat: no-repeat;
  background-size: cover; }

input {
  width: 115%; }

input[type=text] {
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none; }

input[type=email] {
  padding: 10px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none; }

input[type=message] {
  width: 300%;
  padding: 40px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none; }

.hero-head1 {
  margin-bottom: 130px;
  margin-top: 70px;
  display: flex;
  flex-direction: column; }

.hero-head1 h1 {
  width: 30%;
  float: left;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: white;
  background-color: #35AAA6; }

.contact label {
  font-family: oswald,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #35AAA6; }

#Contact h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: black;
  font-size: 40px;
  text-align: center;
  margin-top: 160px; }

.contact {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%; }

.contact p {
  padding-top: 40px; }

.firstName {
  margin-right: 80px; }

.lastName {
  margin-right: 80px; }

.E-mail {
  margin-right: 80px; }

.message {
  margin-right: 95px; }

.message label {
  font-family: oswald,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #35AAA6;
  margin-bottom: 10px; }

.message textarea {
  margin-top: 10px;
  width: 121%;
  height: 80px;
  border: none; }

.send {
  margin-top: 20px;
  margin-bottom: 50px; }

.send a {
  float: right;
  margin-left: 120px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  background-color: #35AAA6;
  padding: .4rem 2.5rem; }

.send a:hover {
  color: #D0E4DD;
  background-color: black; }

.image3 {
  margin-bottom: 20%;
  width: 100%;
  height: 30%;
  background-color: grey; }

.border {
  margin-top: 100px;
  width: 60px;
  height: 2px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 2px #35AAA6; }

@media screen and (min-width: 767px) {
  .siteContainerC {
    background: url("../images/tablet-contact-bcg.svg");
    background-repeat: no-repeat;
    background-size: cover; }

  input {
    width: 170%; }

  input[type=text] {
    height: 10%;
    padding: 20px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none; }

  input[type=email] {
    padding: 20px 30px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none; }

  input[type=message] {
    width: 400%;
    color: black;
    padding: 40px 30px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none; }

  .hero-head1 {
    margin-bottom: 130px;
    margin-top: 130px;
    display: flex;
    flex-direction: column; }

  .hero-head1 h1 {
    width: 40%;
    float: left;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    color: white;
    background-color: #35AAA6; }

  .contact label {
    font-family: oswald,sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    font-style: normal;
    color: #35AAA6; }

  #Contact h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-style: black;
    font-size: 4rem;
    text-align: center;
    margin-top: 160px; }

  .contact {
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30%; }

  .contact p {
    padding-top: 40px; }

  .firstName {
    margin-right: 80px; }

  .lastName {
    margin-right: 80px; }

  .E-mail {
    margin-right: 80px; }

  .message {
    margin-right: 95px; }

  .message label {
    font-family: oswald,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #35AAA6;
    margin-bottom: 10px; }

  .message textarea {
    margin-top: 10px;
    width: 175%;
    height: 150px;
    border: none; }

  .send {
    display: flex;
    justify-content: flex-end;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 50px; }

  .send a {
    float: right;
    margin-left: 120px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    border-radius: 25px;
    background-color: #35AAA6;
    padding: .7rem 4.5rem; }

  .send a:hover {
    color: #D0E4DD;
    background-color: black; }

  .image3 {
    margin-top: 20%;
    margin-bottom: 20%;
    width: 100%;
    height: 50%;
    background-color: grey; }

  .border {
    margin-top: 100px;
    width: 60px;
    height: 2px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 2px #35AAA6; } }
@media screen and (min-width: 1024px) {
  .siteContainerC {
    background: url("../images/desktop-contact-bcg.svg");
    background-repeat: no-repeat;
    background-size: 100% auto; }

  input {
    width: 300%; }

  input[type=text] {
    height: 20%;
    padding: 20px 10px;
    margin: 16px 0;
    box-sizing: border-box;
    border: none; }

  input[type=email] {
    padding: 20px 30px;
    margin: 16px 0;
    box-sizing: border-box;
    border: none; }

  input[type=message] {
    width: 400%;
    color: black;
    padding: 40px 30px;
    margin: 16px 0;
    box-sizing: border-box;
    border: none; }

  .hero-head1 {
    margin-bottom: 130px;
    margin-top: 170px;
    display: flex;
    flex-direction: column; }

  .hero-head1 h1 {
    width: 40%;
    float: left;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    color: white;
    background-color: #35AAA6; }

  .contact label {
    font-family: oswald,sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    font-style: normal;
    color: #35AAA6; }

  #Contact h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-style: black;
    font-size: 4rem;
    text-align: center;
    margin-top: 160px; }

  .contact {
    margin-left: 0;
    margin-top: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 45%; }

  .contact p {
    padding-top: 40px; }

  .firstName {
    margin-right: 80px; }

  .lastName {
    margin-right: 80px; }

  .E-mail {
    margin-right: 80px; }

  .message {
    margin-right: 95px; }

  .message label {
    font-family: oswald,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #35AAA6;
    margin-bottom: 10px; }

  .message textarea {
    margin-top: 10px;
    width: 313%;
    height: 300px;
    border: none; }

  .send {
    display: flex;
    justify-content: flex-end;
    margin-left: 1320px;
    margin-top: 20px;
    margin-bottom: 50px; }

  .send a {
    float: right;
    margin-left: 120px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    border-radius: 25px;
    background-color: #35AAA6;
    padding: .7rem 4.5rem; }

  .send a:hover {
    color: #D0E4DD;
    background-color: black; }

  .image3 {
    margin-top: 800px;
    margin-bottom: 20%;
    width: 100%;
    height: 700px;
    background-color: grey; }

  .border {
    margin-top: 100px;
    width: 60px;
    height: 2px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 420px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 2px #35AAA6; } }
.heroImage {
  background-image: url("../images/project1_heroImage.png");
  margin-top: 20px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100px; }

.close-l h1 {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold; }

.close-l {
  float: right;
  margin-right: 20px;
  color: white; }

.close-l:hover {
  cursor: context-menu; }

.lightbox {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; }

.lightbox img {
  width: 20%; }

.show-lightbox {
  display: block; }

.close-lightbox {
  float: right;
  right: 20px;
  color: white; }

.imageContainer {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
  width: 500px;
  height: 360px;
  background-color: grey;
  margin: 0 auto;
  overflow: hidden; }

#member-name {
  text-align: center;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: white; }

#icons {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.icon {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.icon img {
  margin-left: 100px;
  width: 50px;
  height: 50px;
  background-color: grey; }

.bio-info1 {
  text-align: center;
  margin: 30px;
  width: 200px;
  height: 200px;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: white; }

.bio-info2 {
  text-align: center;
  margin: 30px;
  width: 200px;
  height: 200px;
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: white; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hidden {
  display: none; }

#back-top {
  margin-bottom: 20%; }

#back-top img {
  margin-right: 20px;
  float: right;
  width: 5%; }

#footer {
  width: 100%;
  height: 13%;
  margin-top: 100px; }

.social-media {
  margin-top: 20%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.social-media a {
  width: 25px;
  height: 20px; }

.social-media img {
  margin-left: 5px;
  margin-right: 5px;
  width: 80%; }

#copyright {
  margin-top: -15%;
  text-align: center;
  font-size: 0.5em;
  color: white;
  font-family: oswald,sans-serif;
  font-weight: 200;
  font-style: normal; }

#D-footer {
  display: none; }

@media screen and (min-width: 767px) {
  #back-top {
    margin-top: -7%;
    margin-bottom: 20%; }

  #back-top img {
    margin-right: 20px;
    float: right;
    width: 5%; }

  #footer {
    width: 100%;
    height: 13%;
    margin-top: 100px; }

  .social-media {
    margin-top: 20%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center; }

  .social-media a {
    width: 50px;
    height: 40px; }

  .social-media img {
    margin-left: 5px;
    margin-right: 5px;
    width: 80%; }

  #copyright {
    text-align: center;
    font-size: 0.5em;
    color: white;
    margin-left: 60px;
    font-family: oswald,sans-serif;
    font-weight: 200;
    font-style: normal; } }
#D-footer {
  display: none; }

@media screen and (min-width: 1024px) {
  #back-top {
    display: none;
    margin-top: -7%;
    margin-bottom: 20%; }

  #back-top img {
    margin-right: 20px;
    float: right;
    width: 5%; }

  #footer {
    width: 100%;
    height: 240px; }

  .social-media {
    display: none !important;
    margin-top: 20%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center; }

  .social-media a {
    width: 50px;
    height: 40px; }

  .social-media img {
    margin-left: 5px;
    margin-right: 5px;
    width: 80%; }

  #copyright {
    display: none;
    text-align: center;
    font-size: 0.5em;
    color: white;
    margin-left: 60px;
    font-family: oswald,sans-serif;
    font-weight: 200;
    font-style: normal; }

  #D-footer {
    margin-left: 300px;
    margin-top: 245px;
    display: flex;
    flex-direction: row; }

  #address {
    width: 25%;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: white; }

  #f-nav {
    margin-top: 120px;
    text-align: right;
    background-image: none;
    top: 0;
    width: 80%;
    box-shadow: none;
    position: relative;
    display: flex;
    flex-direction: row; }

  #f-nav li {
    margin-left: 15px;
    padding: 5;
    display: inline-block;
    border-top: thin 1px black;
    text-align: right; }

  #f-Menu {
    width: 65%; }

  #f-Menu a:hover {
    border-bottom: solid 1px white; }

  #f-nav a {
    text-decoration: none;
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    color: white; }

  .f-icon {
    margin: 0;
    margin-right: 70px;
    width: 20%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0; }

  .f-icon a {
    width: 70px;
    height: 50px; }

  .f-icon img {
    margin-left: 15px;
    margin-right: 15px;
    width: 70%; } }

/*# sourceMappingURL=main.css.map */
