.heroImage {
    background-image: url("../images/project1_heroImage.png");
    margin-top: 20px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
  